@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700,800&display=swap);

@import url(https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto:regular);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000000;
  line-height: 1;
  font-family: "Manrope";
  font-size: 0.8125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Manrope";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  height: 6.4375rem;
}

.header__logo {
  font-weight: 800;
  font-size: 1.4375rem;
  line-height: 1.347826087;
  color: #31353b;
  position: relative;
  z-index: 5;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30.4375rem;
          flex: 0 1 30.4375rem;
  max-width: 30.4375rem;
}

._header-scroll {
  background-color: rgba(189, 204, 255, 0.7882352941);
}

.menu-open .menu__body {
  left: 0;
}

.menu-open .menu__body::before {
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem;
}

.menu__link {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.3076923077;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-menu {
  margin-left: auto;
}

.icon-menu {
  display: none;
}

.footer__container {
  background-color: #fbfcfc;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.footer__body {
  max-width: 55.375rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 4.75rem;
  gap: 1.875rem;
  padding-bottom: 2.5rem;
}

.footer__logo {
  font-weight: 800;
  font-size: 23px;
  line-height: 31px;
  color: #31353b;
}

.footer__snoska {
  text-align: center;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.3333333333;
  color: #31353b;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.875rem;
     -moz-column-gap: 2.875rem;
          column-gap: 2.875rem;
  row-gap: 1.25rem;
}

.menu-footer__link {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.3076923077;
  color: #31353b;
}

.main-block__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.main-block__subtitle {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.3181818182;
  color: #ff9900;
  margin-bottom: 1.5rem;
}

.main-block__title {
  font-weight: 800;
  font-size: 3.375rem;
  line-height: 1.3518518519;
  margin-bottom: 1.4375rem;
  padding-right: 0.9375rem;
}

.main-block__text {
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.3529411765;
  letter-spacing: 0.01em;
  color: #31353b;
  margin-bottom: 3rem;
  padding-right: 0.9375rem;
}

.main-block__slider {
  padding-bottom: 5.25rem;
}

.main-block__image-ibg {
  padding-bottom: 95%;
}

.actions-main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 5;
  bottom: 0px;
  right: 2%;
  gap: 2.5rem;
  cursor: pointer;
}

.actions-main-block__arrow {
  background: url("../img/slider/arrow.svg") 0 0 no-repeat;
  width: 0.6875rem;
  height: 1.3125rem;
}

.actions-main-block__arrow.swiper-button-prev {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.actions-main-block__arrow.swiper-button-disabled {
  opacity: 0.5;
}

.swiper-pagination {
  opacity: 0;
}

.swiper-pagination-bullet {
  background-color: #bdccff;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.form-main-block__form {
  position: relative;
  z-index: 10;
  background: url("../img/slider/icon.svg") 33px 50% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-main-block__input {
  min-height: 5.375rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0.625rem 0.625rem 0.625rem 4.625rem;
  background-color: transparent;
  border: 1px solid #dadada;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}

.form-main-block__button {
  padding: 1.9375rem 2.6875rem;
  background-color: #f85a47;
  font-size: 1.0625rem;
  line-height: 1.3529411765;
  letter-spacing: 0.01em;
  color: #ffffff;
  cursor: pointer;
}

.partners-main-block {
  max-width: 47.5rem;
  position: relative;
  z-index: 8;
}

.partners-main-block__title {
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.3529411765;
  letter-spacing: 0.01em;
  color: #31353b;
  margin-bottom: 1.6875rem;
}

.partners-main-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.25rem;
  -webkit-column-gap: 2.625rem;
     -moz-column-gap: 2.625rem;
          column-gap: 2.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.how__title {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.375;
  margin-bottom: 4.375rem;
  text-align: center;
}

.how__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  row-gap: 1.875rem;
}

.how__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.25rem;
          flex: 0 1 16.25rem;
  max-width: 16.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.how__image {
  margin-bottom: 3.125rem;
  border-radius: 20px;
  width: 5.625rem;
  height: 5.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how__image_violet {
  background-color: #9672ff;
  -webkit-box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
          box-shadow: 0px 100px 80px rgba(150, 114, 255, 0.07), 0px 64.8148px 46.8519px rgba(150, 114, 255, 0.0531481), 0px 38.5185px 25.4815px rgba(150, 114, 255, 0.0425185), 0px 20px 13px rgba(150, 114, 255, 0.035), 0px 8.14815px 6.51852px rgba(150, 114, 255, 0.0274815), 0px 1.85185px 3.14815px rgba(150, 114, 255, 0.0168519);
}

.how__image_blue {
  background-color: #4ddffd;
  -webkit-box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481), 0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035), 0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
          box-shadow: 0px 100px 80px rgba(77, 223, 253, 0.07), 0px 64.8148px 46.8519px rgba(77, 223, 253, 0.0531481), 0px 38.5185px 25.4815px rgba(77, 223, 253, 0.0425185), 0px 20px 13px rgba(77, 223, 253, 0.035), 0px 8.14815px 6.51852px rgba(77, 223, 253, 0.0274815), 0px 1.85185px 3.14815px rgba(77, 223, 253, 0.0168519);
}

.how__image_pink {
  background-color: #f2b8ec;
  -webkit-box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035), 0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
          box-shadow: 0px 100px 80px rgba(242, 184, 236, 0.07), 0px 64.8148px 46.8519px rgba(242, 184, 236, 0.0531481), 0px 38.5185px 25.4815px rgba(242, 184, 236, 0.0425185), 0px 20px 13px rgba(242, 184, 236, 0.035), 0px 8.14815px 6.51852px rgba(242, 184, 236, 0.0274815), 0px 1.85185px 3.14815px rgba(242, 184, 236, 0.0168519);
}

.how__subtitle {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.3636363636;
  margin-bottom: 0.9375rem;
}

.how__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625;
}

.how__item-pos {
  position: relative;
}

.how__item-pos::after,
.how__item-pos::before {
  content: "";
  position: absolute;
  top: 41px;
  width: 13.125rem;
  height: 0.6875rem;
}

.how__item-pos::after {
  background: url("../img/how/right.svg") 0 0 no-repeat;
  right: -210px;
}

.how__item-pos::before {
  background: url("../img/how/left.svg") 0 0 no-repeat;
  left: -210px;
}

.featured__title {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.375;
  text-align: center;
}

.featured__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  background-color: #f1ffff;
  padding: 2.5rem 2.5rem 5rem;
}

.featured__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured__image-item img {
  max-width: 100%;
}

.featured__image-item_2 {
  margin-top: -6.25rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.content-featured__title {
  font-weight: 600;
  font-size: 1.9375rem;
  line-height: 1.3548387097;
  margin-bottom: 1.75rem;
  text-align: center;
}

.content-featured__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #545a58;
  text-align: center;
}

.content-featured__button {
  font-family: "Inter";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f85a47;
  border-radius: 5px;
  padding: 0.9375rem 2.3125rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.col-content-featured {
  padding-top: 2.625rem;
  padding-bottom: 3.375rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2.3125rem;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  max-width: 25.75rem;
}

.col-content-featured__title {
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.3529411765;
  margin-bottom: 0.75rem;
}

.col-content-featured__text {
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.3529411765;
  color: #545a58;
}

.busines__container {
  padding-top: 1.875rem;
}

.busines__title {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.375;
  max-width: 35.625rem;
  margin-bottom: 3.1875rem;
}

.busines__items {
  padding-bottom: 5.4375rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}

.item-busines {
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 3.125rem 2.25rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-busines__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75;
  color: #333333;
  margin-bottom: 3.125rem;
  min-height: 7rem;
}

.item-busines__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.item-busines__name {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375;
  color: #333333;
}

.item-busines__local {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3571428571;
  color: #666666;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 16px;
  line-height: 0.75;
  margin-bottom: 2.5rem;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fbb040;
}

.rating__value {
  font-size: 70%;
  line-height: 1;
  padding-left: 5px;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  height: 100%;
  opacity: 0;
}

.partners-busines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.partners-busines__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.partners-busines__info {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #333333;
  max-width: 19.4375rem;
}

.community__container {
  background-color: #fbfcfc;
}

.community__body {
  max-width: 55.75rem;
  margin: 0 auto;
  position: relative;
}

.community__body::after {
  content: "";
  position: absolute;
  border: 1px solid #dedfe1;
  bottom: 0;
  left: 0;
  width: 100%;
}

.community__title {
  font-weight: 700;
  font-size: 2.8125rem;
  line-height: 144.2%;
  letter-spacing: 0.02em;
  color: #31353b;
  text-align: center;
}

.community__text {
  font-weight: 700;
  font-size: 1.4375rem;
  line-height: 144.2%;
  letter-spacing: 0.02em;
  color: #31353b;
  text-align: center;
  margin-bottom: 2.125rem;
}

.form-community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  max-width: 42.875rem;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04), 0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704), 0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
          box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04), 0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704), 0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963), 0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037), 0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963);
  padding: 1.625rem 1.875rem 1.625rem 2.875rem;
}

.form-community__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0.625rem;
}

.form-community__button {
  background-color: #f85a47;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 144.2%;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 1.4375rem 2.5rem;
}

.form-community.placeholder {
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 144.2%;
  letter-spacing: 0.02em;
  color: #31353b;
  opacity: 0.2;
}

.body-estate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.25rem;
}

.body-estate__content {
  max-width: 29.375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29.375rem;
          flex: 0 1 29.375rem;
}

.body-estate__title {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.375;
  margin-bottom: 0.9375rem;
}

.body-estate__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.body-estate__button {
  display: inline-block;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.3529411765;
  text-align: center;
  color: #ffffff;
  background-color: #f85a47;
  border-radius: 5px;
  padding: 1.25rem 2.0625rem;
}

.tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 1.875rem;
  max-width: 54.0625rem;
  padding-bottom: 0.75rem;
}

.tabs__title {
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.3684210526;
}

._tab-active {
  color: #f85a47;
  position: relative;
}

._tab-active::after {
  content: "";
  position: absolute;
  width: 100%;
  border: 1px solid #f85a47;
  bottom: -12px;
  left: 0;
}

.item-tabs__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 1.25rem;
}

.item-tabs__item {
  position: relative;
}

.item-tabs__options {
  position: absolute;
  z-index: 5;
  top: 14px;
  left: 14px;
}

.item-tabs__option {
  font-family: "Inter";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
}

.item-tabs__image-ibg {
  padding-bottom: 81%;
  display: block;
  border-radius: 5px;
  overflow: hidden;
}

.item-tabs__image-ibg img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .main-block__container {
    position: relative;
    z-index: 10;
  }

  .main-block__container::before {
    content: "";
    position: absolute;
    background-color: #bdccff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 65.811965812%;
    z-index: -1;
  }

  .featured__image-item_2 {
    -webkit-filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
            filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
  }
}

@media (min-width: 61.99875em) {
  .featured__title {
    margin-bottom: 5.9375rem;
  }

  .featured__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding-left: 1.375rem;
    padding-top: 2.5rem;
  }

  .content-featured__title {
    max-width: 25.75rem;
    text-align: left;
  }

  .content-featured__text {
    max-width: 25.75rem;
    text-align: left;
  }
}

@media (min-width: 66.24875em) {
  .main-block__box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35.4375rem;
            flex: 0 1 35.4375rem;
    max-width: 35.4375rem;
  }

  .main-block__slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 37.6875rem;
            flex: 0 1 37.6875rem;
    max-width: 37.6875rem;
  }
}

@media (min-width: 66.18625em) {
  .form-main-block__form {
    margin-right: -187px;
  }
}

@media (min-width: 48em) {
  .header__container {
    height: 6.4375rem;
  }
}

@media (min-width: 75em) {
  .main-block__container {
    padding-top: 11.375rem;
  }

  .main-block__container {
    margin-bottom: 7.375rem;
  }

  .how__container {
    padding-top: 7rem;
  }

  .how__container {
    margin-bottom: 7rem;
  }

  .featured__container {
    padding-top: 9.1875rem;
  }

  .featured__container {
    margin-bottom: 5rem;
  }

  .busines__container {
    margin-bottom: 13.125rem;
  }

  .community__container {
    padding-top: 10.125rem;
  }

  .community__body {
    padding-bottom: 10.25rem;
  }

  .body-estate:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .tabs__navigation:not(:last-child) {
    margin-bottom: 2.8125rem;
  }
}

@media (max-width: 20em) {
  .main-block__container {
    padding-top: 7.5rem;
  }

  .main-block__container {
    margin-bottom: 1.25rem;
  }

  .how__container {
    padding-top: 1.25rem;
  }

  .how__container {
    margin-bottom: 1.25rem;
  }

  .featured__container {
    padding-top: 1.875rem;
  }

  .featured__container {
    margin-bottom: 1.25rem;
  }

  .busines__container {
    margin-bottom: 3.125rem;
  }

  .community__container {
    padding-top: 2.5rem;
  }

  .community__body {
    padding-bottom: 4rem;
  }

  .body-estate:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .tabs__navigation:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}

@media (max-width: 72.56125em) {
  .how__item-pos::after {
    right: -195px;
  }

  .how__item-pos::before {
    left: -195px;
  }
}

@media (max-width: 68.49875em) {
  .item-busines {
    padding: 2.5rem 1.625rem;
  }
}

@media (max-width: 67.24875em) {
  .how__item-pos::after {
    right: -165px;
  }

  .how__item-pos::before {
    left: -165px;
  }
}

@media (max-width: 66.24875em) {
  .main-block__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .main-block__box {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 64.81125em) {
  .busines__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 63.06125em) {
  .how__item-pos::after {
    right: -145px;
  }

  .how__item-pos::before {
    left: -145px;
  }
}

@media (max-width: 61.99875em) {
  .featured__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.25rem 1.25rem 5rem;
  }

  .content-featured {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .partners-busines {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .partners-busines__info {
    text-align: center;
  }
}

@media (max-width: 59.12375em) {
  .how__item-pos::after {
    display: none;
  }

  .how__item-pos::before {
    display: none;
  }
}

@media (max-width: 54.12375em) {
  .tabs__navigation {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 53.49875em) {
  .how__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    background-color: #ffffff;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-bottom: 1.875rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #bdccff;
    z-index: 5;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-block__inner {
    margin-bottom: 30px;
  }

  .main-block__slider {
    padding-bottom: 1.25rem;
  }

  .actions-main-block {
    bottom: 40px;
  }

  .swiper-pagination {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.625rem;
  }

  .partners-main-block__title {
    text-align: center;
  }

  .partners-main-block__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .busines__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding-bottom: 1.875rem;
  }

  .item-busines__text {
    min-height: auto;
  }

  .body-estate {
    display: block;
  }

  .body-estate__content {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body {
    padding-top: 6.25rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 35.81125em) {
  .featured__body {
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 29.99875em) {
  .main-block__subtitle {
    font-size: 1.125rem;
    margin-bottom: 0.875rem;
  }

  .main-block__title {
    font-size: 1.875rem;
    margin-bottom: 0.8125rem;
    padding-right: 0;
  }

  .actions-main-block {
    display: none;
  }

  .form-main-block__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    background: url("../img/slider/icon.svg") 33px 22% no-repeat;
  }

  .how__title {
    margin-bottom: 1.25rem;
    font-size: 1.875rem;
  }

  .featured__title {
    font-size: 1.875rem;
  }

  .featured__image-item_2 {
    margin-top: -5rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .content-featured__title {
    font-size: 1.5625rem;
    margin-bottom: 1.125rem;
  }

  .content-featured__button {
    font-size: 1rem;
    padding: 0.9375rem 1.25rem;
  }

  .col-content-featured {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .busines__title {
    font-size: 1.5625rem;
    margin-bottom: 1.875rem;
  }

  .partners-busines__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .community__title {
    font-size: 1.5625rem;
  }

  .community__text {
    font-size: 0.9375rem;
  }

  .form-community {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 0.625rem 0.625rem 0.625rem;
  }

  .form-community__button {
    width: 100%;
    padding: 1.25rem 1.25rem;
  }

  .body-estate__title {
    font-size: 1.875rem;
  }
}

@media (min-width: 20em) and (max-width: 48em) {
@supports (height: clamp( 5rem , 3.9732142857rem  +  5.1339285714vw , 6.4375rem )) {
    .header__container {
      height: clamp( 5rem , 3.9732142857rem  +  5.1339285714vw , 6.4375rem );
    }
}

@supports not (height: clamp( 5rem , 3.9732142857rem  +  5.1339285714vw , 6.4375rem )) {
    .header__container {
      height: calc(5rem + 1.4375 * (100vw - 20rem) / 28);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 75em) {
  .menu__body {
    padding-top: 9.375rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75em) {
@supports (padding-top: clamp( 6.25rem , 5.1136363636rem  +  5.6818181818vw , 9.375rem )) {
    .menu__body {
      padding-top: clamp( 6.25rem , 5.1136363636rem  +  5.6818181818vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 5.1136363636rem  +  5.6818181818vw , 9.375rem )) {
    .menu__body {
      padding-top: calc(6.25rem + 3.125 * (100vw - 20rem) / 55);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 48em) {
  .menu__body::before {
    height: 6.4375rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 48em) {
@supports (height: clamp( 5rem , 3.9732142857rem  +  5.1339285714vw , 6.4375rem )) {
    .menu__body::before {
      height: clamp( 5rem , 3.9732142857rem  +  5.1339285714vw , 6.4375rem );
    }
}

@supports not (height: clamp( 5rem , 3.9732142857rem  +  5.1339285714vw , 6.4375rem )) {
    .menu__body::before {
      height: calc(5rem + 1.4375 * (100vw - 20rem) / 28);
    }
}
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (padding-top: clamp( 7.5rem , 6.0909090909rem  +  7.0454545455vw , 11.375rem )) {
    .main-block__container {
      padding-top: clamp( 7.5rem , 6.0909090909rem  +  7.0454545455vw , 11.375rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 6.0909090909rem  +  7.0454545455vw , 11.375rem )) {
    .main-block__container {
      padding-top: calc(7.5rem + 3.875 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.9772727273rem  +  11.1363636364vw , 7.375rem )) {
    .main-block__container {
      margin-bottom: clamp( 1.25rem , -0.9772727273rem  +  11.1363636364vw , 7.375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.9772727273rem  +  11.1363636364vw , 7.375rem )) {
    .main-block__container {
      margin-bottom: calc(1.25rem + 6.125 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.8409090909rem  +  10.4545454545vw , 7rem )) {
    .how__container {
      padding-top: clamp( 1.25rem , -0.8409090909rem  +  10.4545454545vw , 7rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.8409090909rem  +  10.4545454545vw , 7rem )) {
    .how__container {
      padding-top: calc(1.25rem + 5.75 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.8409090909rem  +  10.4545454545vw , 7rem )) {
    .how__container {
      margin-bottom: clamp( 1.25rem , -0.8409090909rem  +  10.4545454545vw , 7rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.8409090909rem  +  10.4545454545vw , 7rem )) {
    .how__container {
      margin-bottom: calc(1.25rem + 5.75 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 1.875rem , -0.7840909091rem  +  13.2954545455vw , 9.1875rem )) {
    .featured__container {
      padding-top: clamp( 1.875rem , -0.7840909091rem  +  13.2954545455vw , 9.1875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.7840909091rem  +  13.2954545455vw , 9.1875rem )) {
    .featured__container {
      padding-top: calc(1.875rem + 7.3125 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .featured__container {
      margin-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.1136363636rem  +  6.8181818182vw , 5rem )) {
    .featured__container {
      margin-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 3.125rem , -0.5113636364rem  +  18.1818181818vw , 13.125rem )) {
    .busines__container {
      margin-bottom: clamp( 3.125rem , -0.5113636364rem  +  18.1818181818vw , 13.125rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , -0.5113636364rem  +  18.1818181818vw , 13.125rem )) {
    .busines__container {
      margin-bottom: calc(3.125rem + 10 * (100vw - 20rem) / 55);
    }
}

@supports (padding-top: clamp( 2.5rem , -0.2727272727rem  +  13.8636363636vw , 10.125rem )) {
    .community__container {
      padding-top: clamp( 2.5rem , -0.2727272727rem  +  13.8636363636vw , 10.125rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , -0.2727272727rem  +  13.8636363636vw , 10.125rem )) {
    .community__container {
      padding-top: calc(2.5rem + 7.625 * (100vw - 20rem) / 55);
    }
}

@supports (padding-bottom: clamp( 4rem , 1.7272727273rem  +  11.3636363636vw , 10.25rem )) {
    .community__body {
      padding-bottom: clamp( 4rem , 1.7272727273rem  +  11.3636363636vw , 10.25rem );
    }
}

@supports not (padding-bottom: clamp( 4rem , 1.7272727273rem  +  11.3636363636vw , 10.25rem )) {
    .community__body {
      padding-bottom: calc(4rem + 6.25 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .body-estate:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5681818182rem  +  3.4090909091vw , 3.125rem )) {
    .body-estate:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 55);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.1079545455rem  +  2.2727272727vw , 2.8125rem )) {
    .tabs__navigation:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 1.1079545455rem  +  2.2727272727vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.1079545455rem  +  2.2727272727vw , 2.8125rem )) {
    .tabs__navigation:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1.25 * (100vw - 20rem) / 55);
    }
}
}

@media (min-width: 20em) and (max-width: 61.99875em) {
@supports (margin-bottom: clamp( 1.25rem , -0.9822092919rem  +  11.1610464597vw , 5.9375rem )) {
    .featured__title {
      margin-bottom: clamp( 1.25rem , -0.9822092919rem  +  11.1610464597vw , 5.9375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.9822092919rem  +  11.1610464597vw , 5.9375rem )) {
    .featured__title {
      margin-bottom: calc(1.25rem + 4.6875 * (100vw - 20rem) / 41.99875);
    }
}
}

@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }

  .menu-footer__link:hover {
    text-decoration: underline;
    text-decoration-color: #31353b;
  }

  .content-featured__button:hover {
    -webkit-box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
            box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  }

  .item-busines:hover {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222), 3px 44px 54px rgba(0, 0, 0, 0.08);
  }

  .form-community__button:hover {
    -webkit-box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
            box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  }

  .body-estate__button:hover {
    -webkit-box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
            box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  }

  .item-tabs__option:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .item-tabs__image-ibg img:hover {
    scale: 1.1;
  }
}